/*********************************/
/* Events                        */
/*********************************/

.eventContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.eventCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e67e22;
  border-radius: 11px;
  padding: 1.6rem;
}

.eventCardHeader {
  display: flex;
  flex-direction: column;
  background-color: #e67e22;
  border-radius: 11px;
  padding: 1.6rem;
}
.eventCardDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e67e22;
  border-radius: 11px;
  padding: 1.6rem;
}

.event-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  grid-column: span 2;
  justify-self: center;
  padding: 1.2rem;
}
.event-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.event-attribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
