/*********************************/
/* Users                         */
/*********************************/

/* See general.css for how tbles are formatted. */

.users-table {
  display: grid;
  grid-template-columns: 30fr 30fr 30fr 5fr 5fr;
  column-gap: 0rem;
  row-gap: 1rem;
}

.signUp *:focus,
.login *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* NOTE - It's super important that this class exists. */
/* The "hiddenField" class takes care of this data not */
/* not being diplayed. However this is needed to       */
/* ensure the correct user id is passed to related     */
/* edit and delete functions                           */
userId {
  display: none;
}
